.ItemInput {    
    height: 15em;
    line-height: 5em;
    border: .25em solid #fff;
    margin: 2em 8em;
    box-shadow: 0 .25em .5em #ccc;
    padding: 1.5em;
    overflow: auto;
    font-family: 'Bookman Old Style'
}

.input {
    display: block;
    border: .15em solid #a9a9a9;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    width: 15em;
    height: 2em;
    font-size: 18px;    
}

.button {   
    border: .15em solid darkgreen;
    padding-left: 5px;
    padding-right: 5px;
    margin: auto;
    width: 7em;
    height: 2em;
    font-size: 15px;    
    color: #fff;
    background-color: darkgreen;    
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: .5s;
    color: #fff;
    padding: 4px 8px 6px;
    border: 1px solid #9fa3a7;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    
    /* -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #008fcf;
    box-shadow:
        0 1px 0 rgba(0,0,0,.25),
        inset 0 1px 2px rgba(255,255,255,.67),
        inset 0 -1px 0 rgba(0,0,0,.14);
    background-image: -moz-linear-gradient(90deg, #a3a9ad 0%, #c5c9cd 100%);
    background-image: -o-linear-gradient(90deg, #a3a9ad 0%, #c5c9cd 100%);
    background-image: -webkit-linear-gradient(90deg, #a3a9ad 0%, #c5c9cd 100%);
    background-image: linear-gradient(90deg, #a3a9ad 0%, #c5c9cd 100%); */
}

.button:hover {   
    color: #000;
    background-color: lightgreen;   
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
