.Item {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: auto;
    max-width: 50em;
    border: .25em solid #fff;
    margin: 2em auto;
    box-shadow: 0 .25em .5em #ccc;
    padding: 1em;
    font-family: 'Bookman Old Style';
}

.row {
    margin: auto 0;
    width: auto;
}

.itemInput {
    justify-content: flex-start;
    border: .15em solid #a9a9a9;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    width: 25em;
    height: 2em;
    font-size: 18px;
}

.itemInput:focus {
    border: .15em solid blue;
}

.itemInput:disabled {
    background-color: #f8f6f6;
}

.buttonContainer {
    float: right;
}

.editButton {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .25), inset 0 1px 2px rgba(255, 255, 255, .67), inset 0 -1px 0 rgba(0, 0, 0, .14);
    background-image: -moz-linear-gradient(90deg, rgb(0, 0, 255) 0%, rgb(0, 80, 255) 100%);
    background-image: -o-linear-gradient(90deg, rgb(0, 0, 255) 0%, rgb(0, 80, 255) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(0, 0, 255) 0%, rgb(0, 80, 255) 100%);
    background-image: linear-gradient(90deg, darkblue 0%, rgb(0, 0, 155) 100%);
    border: .15em solid darkblue;
    width: 7em;
    height: 3em;
    font-size: 15px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition-duration: 0.5s;
    transition-duration: .5s;
    color: #fff;
    padding: 4px 8px 6px;
    border: 1px solid #9fa3a7;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

.editButton:hover {
    border: .15em solid #000;
    color: #000;
}

.deleteButton {
    margin-left: .5em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .25), inset 0 1px 2px rgba(255, 255, 255, .67), inset 0 -1px 0 rgba(0, 0, 0, .14);
    background-image: -moz-linear-gradient(90deg, darkred 0%, rgb(150, 0, 0) 100%);
    background-image: -o-linear-gradient(90deg, darkred 0%, rgb(150, 0, 0) 100%);
    background-image: -webkit-linear-gradient(90deg, darkred 0%, rgb(150, 3, 3) 100%);
    background-image: linear-gradient(90deg, darkred 0%, rgb(150, 0, 0) 100%);
    border: .15em solid darkred;
    width: 7em;
    height: 3em;
    font-size: 15px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition-duration: 0.5s;
    transition-duration: .5s;
    color: #fff;
    padding: 4px 8px 6px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

.deleteButton:hover {
    border: .15em solid #000;
    color: #000;
}