.ItemInput {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    max-width: 50em;
    border: .25em solid #fff;
    margin: 5em auto;
    padding: 1em;
    box-shadow: 0 .25em .5em #ccc;
    font-family: 'Bookman Old Style'
}

.label {
    text-align: left;
    flex: 0 1 100%;
    font-size: 18px;
    margin: .25em 5em;
}

.input {
    flex: 0 1 50%;
    border: .15em solid #a9a9a9;
    padding-left: 15px;
    padding-right: 15px;
    margin: 2em 0em 3em .5em;
    width: 15em;
    height: 2em;
    font-size: 18px;
}

.input:focus {
    border: .15em solid blue;
}

.button {
    flex: 0 1 100%;    
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .25), inset 0 1px 2px rgba(255, 255, 255, .67), inset 0 -1px 0 rgba(0, 0, 0, .14);
    background-image: -moz-linear-gradient(90deg, darkgreen 0%, rgb(1, 138, 1) 100%);
    background-image: -o-linear-gradient(90deg, darkgreen 0%, rgb(1, 138, 1) 100%);
    background-image: -webkit-linear-gradient(90deg, darkgreen 0%, rgb(1, 138, 1) 100%);
    background-image: linear-gradient(90deg, darkgreen 0%, rgb(1, 138, 1) 100%);
    border: .15em solid darkgreen;
    margin: 0 23em;
    height: 3em;
    font-size: 15px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition-duration: 0.5s;
    transition-duration: .5s;
    color: #fff;
    padding: 4px 8px 6px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

.button:hover {
    border: .15em solid #000;
    color: #000;
}

.buttonPlus {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .25), inset 0 1px 2px rgba(255, 255, 255, .67), inset 0 -1px 0 rgba(0, 0, 0, .14);
    background-image: -moz-linear-gradient(90deg, #a3a9ad 0%, #c5c9cd 100%);
    background-image: -o-linear-gradient(90deg, #a3a9ad 0%, #c5c9cd 100%);
    background-image: -webkit-linear-gradient(90deg, #a3a9ad 0%, #c5c9cd 100%);
    background-image: linear-gradient(90deg, #a3a9ad 0%, #c5c9cd 100%); 
    border: .15em solid rgb(119, 119, 119);
    margin: 2.3em .5em 3em .5em;
    width: 3em;
    height: 3em;
    font-size: 15px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition-duration: 0.5s;
    transition-duration: .5s;
    color: #fff;    
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

.buttonPlus:hover {
    border: .15em solid #000;
    color: #000;
}